html, body{
height:100%;
font-family:Arial;
margin:0 auto;
}


body{
  font-family:Arial;
 
#banner{
height:200px;
justify-content:center;
text-align:center;
background-color:red;
color:white;
padding:30px;
}
.container{
display:flex;
background-color:blue;
padding:10px;
}
nav a{
flex:1;
padding:20px;
text-align:center;
color:white;
font-size:16px;
}

#gimbap{
flex:1;
align-items:center;
margin-left:65px;
margin-top:60px;
}

#gimbap1{
width:27.5%;
background-color:lightblue;
padding:15px;
color:black;
font-size:15pt;
margin-left:65px;
margin-top:35px;
}

#gimbap2{
margin-left:500px;
margin-top:-115px;
}

#food2{
flex:1;
align-items:center;
margin-left:650px;
margin-top:-975px;
}

#food3{
width:27.5%;
background-color:lightblue;
padding:15px;
color:black;
font-size:15pt;
margin-left:650px;
margin-top:35px;
}

#food4{
margin-left:640px;
margin-top:-115px;
}
#bulgogi{
margin-left:640px;
margin-top:-1437px;
}

#bulgogi1{
width:43%;
background-color:lightblue;
padding:15px;
color:black;
font-size:15pt;
margin-left:640px;
margin-top:33px;
}

#bulgogi2{
margin-left:640px;
margin-top:-110px;
}

#footer{
justify-content:space-between;
text-align:center;
background-color:blue;
color:white;
padding:50px;
}